:root {
    --darkBlue: #202D3E;
    --blue: #1FA2F9;
    --lightBlue: #C1E1F8;
}
* {box-sizing: border-box;}

#bg-logo {
    width: 100%;  
  
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--darkBlue);

}
.logoContainer {
    text-align: center;
    margin-top: 20px;
}    
p {
  font-size: 16px; /* Adjust the font size as needed */
  line-height: 1.5; /* Adjust the line height for better spacing */
  margin-bottom: 15px; /* Add margin at the bottom for separation */
}
.projectLink {
  color: var(--darkBlue); /* Change link text color */
  text-decoration: none; /* Remove default underline */
  font-weight: bold; /* Make links bold */
  transition: color 0.2s; /* Add a smooth color transition on hover */

  /* Optional: Add an underline on hover */
  border-bottom: 2px solid --darkBlue;
}

.projectLink:hover {
  color: var(--blue); /* Change link color on hover */
}

.lights {
    float: right;
    font-size: 30px;
}
.fa-sun {
  display: none;
}

#bio {
    padding: 10px;
    /* margin-top: -30px; */
    text-align: justify;
}
.icons {
    color: var(--darkBlue);
    font-size: 40px;
    display: flex;
   justify-content: left;
  }
  #icon-mail {
    will-change: transform;
    transition: transform 450ms;
  }
  #icon-git {
    will-change: transform;
    transition: transform 450ms;
  }
  .fa-icon {
    color: #202D3E;
  }
  .bi-brightness {
    color: #202D3E
  }
  .animate-git:hover #icon-git {
    transition: transform 150ms;
    transform: translateY(-10px);
  }
  .animate-mail:hover #icon-mail{
    transition: transform 150ms;
    transform: translateY(-10px);
  }
i {
    padding: 15px;
    text-decoration: none;
}
a {
    text-decoration: none;
}
section {
    padding: 10px;
}

.thumbnails {
    width: 95%;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1920px) { 
    body {
        padding: 10px;
        width: 50%;
        margin: 0 auto;
    }
}
 
@media all and (min-width: 768px) and (max-width: 1024px) {
 
 }
 
@media all and (min-width: 480px) and (max-width: 768px) { 
  svg {
    width: 500px
  }
}
 
@media all and (max-width: 480px) { 
  svg {
    width: 300px
  }
  #bio {
    margin-top: 0;
  }
}
 

/* Dark Mode */

.dark-mode {
    background-color: var(--darkBlue);
    color: white;
}

.dark-mode-logo {
    fill: var(--lightBlue);
    stroke: var(--lightBlue);
}

.dark-mode-icon {
    color: var(--lightBlue);
}



